.authLayout{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: center;
    align-items: center;
    
    .imageDiv{
        border: 1px solid gray;
    }
}

.authForm{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
}